<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Orderurl:</strong>
  <%= @restaurant.orderurl %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @restaurant.imageurl %>
</p>

<p>
  <strong>Videourl:</strong>
  <%= @restaurant.videourl %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Geocode:</strong>
  <%= @restaurant.geocode %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Foodtype:</strong>
  <%= @restaurant.foodtype %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
